img {
	width: 100%;
}
h2, h4 {
	text-transform: uppercase;
}
/*
==================
carousel styles starts from here
==================
*/
.slider {
    margin-top: 55px;
    background-color: #EFE4B0;
}
/*
==============================
Begenning of Single video styles
==============================
*/
.single-video {
	padding: 5px;
}
.single-video-thumb {
	position: relative;
}
.single-video-thumb:hover {
	opacity: .8;
}
.single-video-thumb a {
    position: absolute;
    top: 36%;
    right: 46%;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    transition: 1s;
}
.single-video-thumb a:hover {
    font-size: 40px;
    color: green;
}

.single-video-content {
	background-color: #C8BFE7;
	color: #fff;
}
.history {
	list-style: none;
	margin: 0 auto;
	display: table;
	padding: 0;
}
.history li {
	display: inline-block;
	margin-right: 10px;
}
/*
==============================
End of Single video styles
==============================
*/

/*
==============================
Begenning of video-by-catagory styles
==============================
*/
.video-by-category {
	padding: 10px 0;
	background-color: #DFFBFF;
}
.load-more {
    margin: 20px 0;
}
.position-middle {
	margin: 0 auto;
	display: table;
	text-transform: uppercase;
}
/*
==============================
End of video-by-catagory styles
==============================
*/


/*
==============================
Begenning of movie area styles
==============================
*/
.lattest-video-area.movie-area {
    background-color: rgba(49, 112, 143, 0.2);
}
.newsletter {
	background-color: #DFF0D8;
}
/*
==============================
End of movie area styles
==============================
*/

/*
==============================
Begenning of movie area styles
==============================
*/
.footer {
	background-color: #CFD9EA;
}
/*
==============================
End of movie area styles
==============================
*/
